* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
}

header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: auto;
}

header section:first-child {
  flex: 2;
  border-right: solid 1px rgb(226, 224, 224);
  border-bottom: solid 1px rgb(226, 224, 224);
  padding: 10px 20px;
  background-color: #f8f7fa;
  display: flex;
  align-items: center;
  gap: 10px;
}

header section:first-child img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

header section:first-child h4 {
  margin: 0;
  font-size: 15px;
}
header section:first-child p {
  margin: 0;
  font-size: 12px;
}

header section:last-child {
  flex: 8;
  padding: 10px 0px;
  border-bottom: solid 1px rgb(226, 224, 224);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section:last-child p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
}

header section:last-child button {
  background: #fff;
  padding: 4px 14px;
  border-radius: 5px;
  box-shadow: 1px 1px 18px 11px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 14px;
}

main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  height: calc(100vh - 62px);
}

main section:first-child {
  flex: 2;
  border-right: solid 1px rgb(226, 224, 224);
  padding: 20px 20px;
  background-color: #f8f7fa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

main section:first-child div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

main section:first-child p {
  font-size: 14px;
  font-weight: 600;
}

main section:first-child ul img {
  width: 20px;
  height: 20px;
}

main section:first-child ul li {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

main section:last-child {
  flex: 8;
  display: flex;
  justify-content: space-between;
}

.contain_left {
  flex: 8;
  border-right: solid 1px rgb(226, 224, 224);
}

.contain_right {
  flex: 2;
  padding: 20px 20px;
}

.badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-bottom: solid 1px rgb(226, 224, 224);
}

.badge_contain {
  flex: 5;
  border: solid 2px #7578d3;
  padding: 20px;
  background-color: #f7f5ff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge_contain p {
  font-size: 12px;
  font-weight: 400;
}

.badge_contain h4 {
  font-size: 20px;
  font-weight: 500;
}

.badge_contain img {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 8px;
  border-radius: 6px;
}
